Repository cy-suite/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @njhill, @DarkLight1337, @robertgshaw2-neuralmagic, @ywang96, @comaniac, @LiuXiaoxuanPKU, @tlrmchlsmth, @mgoin, @youkaichao, @alexm-neuralmagic

seperate out gemm caller
  csrc/core/math.hpp
  csrc/cutlass_extensions/common.hpp
  csrc/quantization/cutlass_w8a8/c3x/cutlass_gemm_caller.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_c3x_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_c3x.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_c3x_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_c3x_sm90_int8_dispatch.cuh
Owners: none

fix b-scales
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_c3x_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  csrc/quantization/cutlass_w8a8/scaled_mm_entry.cu
Owners: none

working!
  csrc/cutlass_extensions/gemm/collective/sm90_mma_tma_gmma_ss_warpspecialized_fp8_blockwise_scaling.hpp
  csrc/quantization/cutlass_w8a8/c3x/scaled_mm_blockwise_c3x_sm90_fp8_dispatch.cuh
  csrc/quantization/cutlass_w8a8/scaled_mm_c3x.cu
  tests/kernels/test_cutlass.py
Owners: @tlrmchlsmth

format
  tests/kernels/test_cutlass.py
Owners: @tlrmchlsmth

make expand logic more readable
  tests/kernels/test_cutlass.py
Owners: @tlrmchlsmth

[Hardware][Gaudi] Support fp8 neural magic model
  vllm/model_executor/layers/fused_moe/fused_moe.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/utils/w8a8_utils.py
  vllm/worker/hpu_model_runner.py
Owners: none

use stream capture
  benchmarks/kernels/utils.py
Owners: none

add correctness testing and prints
  benchmarks/kernels/benchmark_lora.py
  benchmarks/kernels/utils.py
Owners: none

format
  benchmarks/kernels/benchmark_lora.py
Owners: none

add lora benchmark files
  benchmarks/kernels/benchmark_lora.py
  benchmarks/kernels/utils.py
Owners: none

format
  benchmarks/kernels/benchmark_lora.py
Owners: none

add expand_fn_add_inputs arg
  benchmarks/kernels/benchmark_lora.py
Owners: none

format
  benchmarks/kernels/benchmark_lora.py
Owners: none

add output directory
  benchmarks/kernels/benchmark_lora.py
Owners: none

format
  benchmarks/kernels/benchmark_lora.py
  benchmarks/kernels/utils.py
Owners: none

add test_correctness
  benchmarks/kernels/benchmark_lora.py
Owners: none

add comments
  benchmarks/kernels/benchmark_lora.py
Owners: none

fix num slices
  benchmarks/kernels/benchmark_lora.py
Owners: none

fix
  benchmarks/kernels/benchmark_lora.py
Owners: none

fix comment print
  benchmarks/kernels/benchmark_lora.py
Owners: none

Implements dual-chunk-flash-attn backend for dual chunk attention with sparse attention support.
  CMakeLists.txt
  csrc/attention/vertical_slash_index.cu
  csrc/ops.h
  csrc/torch_bindings.cpp
  examples/offline_inference_qwen_1m.py
  vllm/_custom_ops.py
  vllm/attention/backends/dual_chunk_flash_attn.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/utils.py
  vllm/attention/layer.py
  vllm/attention/selector.py
  vllm/config.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/model_loader/weight_utils.py
  vllm/model_executor/models/qwen2.py
  vllm/model_executor/models/qwen2_moe.py
  vllm/platforms/interface.py
  vllm/worker/model_runner.py
Owners: none

Fix multi-sequence bugs
  vllm/outputs.py
  vllm/sequence.py
Owners: none

refactor
  benchmarks/kernels/benchmark_lora.py
  benchmarks/kernels/utils.py
Owners: none

WIP update to new cutlass
  CMakeLists.txt
  benchmarks/cutlass_benchmarks/w8a8_benchmarks.py
  csrc/cutlass_extensions/gemm/collective/collective_builder.hpp
  csrc/cutlass_extensions/gemm/collective/sm90_mma_tma_gmma_ss_warpspecialized_fp8_blockwise_scaling.hpp
  csrc/cutlass_extensions/gemm/dispatch_policy.hpp
Owners: none

update to use new upstream
  csrc/cutlass_extensions/gemm/collective/sm90_mma_tma_gmma_ss_warpspecialized_fp8_blockwise_scaling.hpp
Owners: none

yapf
  vllm/model_executor/models/fairseq2_llama.py
Owners: none

Minor changes
  vllm/model_executor/models/fairseq2_llama.py
Owners: none

Shorter implementation
  vllm/model_executor/models/fairseq2_llama.py
  vllm/model_executor/models/llama.py
Owners: none

Add support for Fairseq2's Llama
  vllm/model_executor/models/fairseq2_llama.py
  vllm/model_executor/models/registry.py
Owners: none

Fix long docstring
  vllm/model_executor/model_loader/loader.py
Owners: none

Add support for tp-sharded checkpoints
  vllm/model_executor/model_loader/loader.py
  vllm/model_executor/models/fairseq2_llama.py
  vllm/model_executor/models/llama.py
Owners: none

Remove unnecessary method override
  vllm/model_executor/models/fairseq2_llama.py
Owners: none

Improve comments describing weight reshaping
  vllm/model_executor/models/fairseq2_llama.py
Owners: none

Revise as per comment
  vllm/attention/backends/flashinfer.py
  vllm/worker/model_runner.py
Owners: none

multi-step + chunked-prefill + flashinfer
  csrc/prepare_inputs/advance_step.cu
  tests/multi_step/test_correctness_llm.py
  vllm/attention/backends/flashinfer.py
  vllm/worker/model_runner.py
  vllm/worker/multi_step_model_runner.py
Owners: @alexm-neuralmagic

Run yapf and ruff
  vllm/attention/backends/flashinfer.py
  vllm/worker/model_runner.py
Owners: none

Format and reduce tests.
  tests/multi_step/test_correctness_llm.py
  vllm/worker/model_runner.py
Owners: @alexm-neuralmagic

update
  vllm/model_executor/layers/fused_moe/layer.py
Owners: none

fix process after weight loading for actorder and parameter names
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: none

Don't partition w2 when we use group quantization
  vllm/model_executor/layers/fused_moe/layer.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

/tests/async_engine @njhill
/tests/test_inputs.py @DarkLight1337
/tests/entrypoints @DarkLight1337 @robertgshaw2-neuralmagic
/tests/models @DarkLight1337 @ywang96
/tests/multimodal @DarkLight1337 @ywang96
/tests/prefix_caching @comaniac
/tests/spec_decode @njhill @LiuXiaoxuanPKU
/tests/kernels @tlrmchlsmth
/tests/quantization @mgoin
/.buildkite/lm-eval-harness @mgoin
/tests/distributed/test_multi_node_assignment.py @youkaichao
/tests/distributed/test_pipeline_parallel.py @youkaichao
/tests/distributed/test_same_node.py @youkaichao
/tests/multi_step @alexm-neuralmagic
/tests/weight_loading @mgoin
